body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;
}

.section__products {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__products--container {
  background: #f1f1f1;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 4px;
}

.section__products button a {
  text-decoration: none;
  color: #000;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

input {
  padding: 10px;
  width: 30%;
  text-align: center;
}

select {
  width: 10%;
  padding: 10px;
}

label {
  margin: 5px 0;
}

button[type="submit"] {
  padding: 10px;
}

.quote-submit {
  margin-top: 10px;
  width: 10%;
  cursor: pointer;
}

.cotizacion {
  width: 50%;
  margin: 0 auto;
  background: #f1f1f1;
  text-align: center;
  margin-bottom: 40px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* Loader spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
