body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  background: #006240;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
  height: 4rem;
  width: 100%;
}

.header a {
  color: #fff;
  text-decoration: none;
  margin: 0%;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

.header a:hover {
  background: #fff;
  color: #006240;
}

.header__user span {
  margin-right: 5px;
}

.header__user button {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.header__user button:hover {
  transform: scale(1.1);
}
